#!/usr/bin/env zsh
# MIT License
#
# Copyright (c) 2020 Manish Sahani
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# ########################################################################## #
#                                /!\ Important /!\                           #
# The file is used to as aliasing all the commands, this file is an for ease #
# of user and not a core file for tooling, and has a dependency to .extra,   #
# therefore, this should always be loader after .extra (preferably at last)  #
# ########################################################################## #

# Towared root navigations
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# General Shortcuts
alias g=git
alias k=kubectl
alias p=python
alias vi=nvim

alias c="tr -d '\n' | pbcopy" # Trim new lines and copy to clippboard

# Conda activation shortcuts
alias clocal="conda activate local"
alias cbase="conda activate base"

# Directory listing
alias l="ls -lF ${colorflag}"
alias la="ls -lAF ${colorflag}"
alias lsd="ls -lAF ${colorflag} | grep --color=never '^d'" # List only dirs
alias ls="command ls ${colorflag}"

alias ccd="pwd | c"  # copy current directory

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# refresh terminal
alias so="source ~/.zshrc"

# tmux
alias t=tmux
alias tns='tmux new -s '
alias tls='tmux ls'


# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: #
#                      =*--  System Specific Aliases --*=                    #
# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: #
# covered (https://github.com/kalkayan/auxilium/tree/main/covered)
alias covered='python ${HOME}/Code/kalkayan/auxilium/covered/__main__.py'
alias comingsoon='python ${HOME}/Code/kalkayan/auxilium/comingsoon/__main__.py'

# dotfiles (https://github.com/kalkayan/dotfiles)
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
