#!/usr/bin/env zsh

# Towared root navigations
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Goto navigations to some most common folders (these are specific to my laptop
# only, you may need to modify this)
alias gdl="cd ~/Downloads"
alias gc="cd ~/Code"
alias gcpp="cd ~/Code/cpp"
alias gelse="cd ~/Code/else"
alias greact="cd ~/Code/react"
alias gresearch="cd ~/Code/research"

# General Shortcuts
alias g=git
alias vi=nvim
alias k=kubectl

alias clocal="conda activate local"
alias cbase="conda activate base"
# Directory listing
# Thanks to mathiasbynens (https://github.com/mathiasbynens/dotfiles/blob/main/.aliases)
# enables color in ls 
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

alias l="ls -lF ${colorflag}"
alias la="ls -lAF ${colorflag}"
alias lsd="ls -lAF ${colorflag} | grep --color=never '^d'" # List only dirs
alias ls="command ls ${colorflag}"

# Trim new lines and copy to clippboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Shortcuts specific to my programs
# covered is a short python script that created banners for the repositorie's
# README.md (see example - https://raw.githubusercontent.com/kalkayan/dotfiles/main/static/banner.jpg)
alias covered='python ${HOME}/Code/else/divine/covered/__main__.py'

# dotfiles manager 
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

