#!/usr/bin/env zsh
# MIT License
#
# Copyright (c) 2020 Manish Sahani
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

function k__helper_resolve_git_color {
    #[[ -n $(/usr/bin/git status -s) ]] && echo '9' || echo '10' # 9 for red color and 10 for green
    echo 10
}

function k__helper_is_git_repo {
    /usr/bin/git rev-parse --is-inside-work-tree 2>/dev/null
}

function k__prompt_user_info {
    echo '%F{37}%n%f'
} 

function k__prompt_check_node {
    [ -d "node_modules" 2>/dev/null ] && [ "$(jq --help 2>/dev/null)" ] && echo " $(jq -r '.version' package.json)"
}




function get_git_info {
    [ "$(/usr/bin/git rev-parse --abbrev-ref --symbolic-full-name @{u} 2>/dev/null)" ] && \
        /usr/bin/git rev-parse --abbrev-ref --symbolic-full-name @{u} || git rev-parse --abbrev-ref HEAD
}

# Find the git branch
function k__prompt_git_info {
    [ "$(k__helper_is_git_repo)" ] && echo "%F{7}(%F{$(k__helper_resolve_git_color)}$(get_git_info)%F{7})" || echo '' 
}

function _resolve_fzf_colorscheme {
    if [[ $TERM =~ "xterm-256color" ]]; then
        echo "--color fg:223,bg:-1,hl:66,fg+:166,bg+:-1,hl+:208
              --color info:183,prompt:110,spinner:107,pointer:167,marker:215,border:223"
    else
        echo "--color fg:#ebdbb2,bg:-1,hl:#458588,fg+:#d65d0e,bg+:-1,hl+:#fabd2f \
              --color info:#83a598,prompt:#bdae93,spinner:#fabd2f,pointer:#83a598,marker:#fe8019,header:#665c54,border:#ebdbb2"
    fi
}



# Available functions

#function mkd {
    #mkdir $1 && cd $1
#}
